h1 {
    color: green;
    font-style: italic;
}

.note {
    color: rgb(39, 31, 112);
    margin-top: 1em;
    font-size: 1.2em;
    list-style: none;
    text-transform: capitalize;
}

.note button {
    margin-left: 0.5em;
    background-color: cornflowerblue;
    border: none;
    padding: 0.5em;
    text-transform: capitalize;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.note button:hover {
    cursor: pointer;
}

.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}